/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@font-face { font-family: Caviar; src: url('../assets/fonts/CaviarDreams.ttf'); } 
@font-face { font-family: Caviar; font-weight: bold; src: url('../assets/fonts/Caviar_Dreams_Bold.ttf');}
@font-face { font-family: Quicksand; src: url('../assets/fonts/Quicksand-Regular.otf'); } 
@font-face { font-family: Quicksand; font-weight: bold; src: url('../assets/fonts/Quicksand-Bold.otf');}
@font-face { font-family: Pacifico; src: url('../assets/fonts/pacifico.ttf'); } 

.lP{
	margin: 0px 5px;
	padding: 0px 1px;
}
h1{
	&.special{
		text-outline:1px #fff;
	}
}
.wat{
	overflow: hidden;
}
.cats{
	display: block;
	border:8px solid #efefef;
	outline:4px solid white;
	outline-offset:-16px;
}
.border-box{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 12px solid #fff;
}
.special{
	font-family: thonburi, Quicksand;
	font-weight:bold;
	font-weight: 900;
	letter-spacing: .4px;
}
.special2{	
	font-weight: 300;
	letter-spacing: 2px;
	padding: 40px;
	background-color: rgba(255,255,255,0.8);
	&.special{
		letter-spacing: none;
	}
}
.xskinney{
	font-weight: 200;
}

$pCC:#FFD27E;
$pC: #fff;
$sC: #fffb;
$highlight: #FAF7E8;
$border: #B7914A;

body{
	-webkit-font-smoothing: antialiased;
}
.ski{
   color: #222;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) 
   -webkit-text-stroke-width: .75px;
   -webkit-text-stroke-color: #bbb;  */
   letter-spacing: 2px;
   line-height: 70px;
   text-transform: uppercase;
}
@media(max-width: 500px){
	.ski{
		line-height: 59px;
	}
}
.show{
	display: block !important;
	z-index: 1005;
	background-color: rgba(0,0,0,0.69);
}
.pbC{
	background-color: $pC;
}
.sbC{
	background-color: $sC !important;
	overflow: hidden;
}
.skinney{
	font-weight: 300;
}
.aux{
	background-color: #ebebeb;
	margin: 0px;
	padding: 4px 30px;
	&.aux2{
		background-color: #FFD68A;
		padding: 5px 28px;
		margin: 2px 0px 2px 10px;
		color:#333;
		cursor: pointer;
		font-weight: 900;
				background-color: #fff !important;
				border: 1px solid #888;
	}
}
.nwMargin{
	margin-right: -20px;
	margin-left: -20px;
}
.lPadding{
	padding-left:5%;
}
.center{
	text-align: center;
}
.fT{
	color: #333; 
	border-bottom: 1px dashed #333;
	padding-bottom: 15px
}
.zT{
	position: relative;
	div{

		display: inline-block;
		overflow: hidden;
	}
}
.iShadow{
	box-shadow: inset 1px 3px 4px 2px #777;
	&.strong{
		box-shadow: inset 1px 3px 3px 1px #111;
	}
	&.fake{
		border-radius: 00px;
		border: 12px solid #efefef;
		box-shadow: 0px 0px 0px #111;
		&.f2{
			display: inline-block;
			overflow: hidden;
			border-radius: 5000px;
			border: 9px solid #efefef;
			box-shadow: 0px 0px 0px #111;
			width: 500px;
			height: 500px;
			margin-right: -130px; 
		}
	}
}
.oShadow{
	box-shadow: 2px 3px 3px 3px #aaa !important;
}
.nwPadding{
	padding: 0px;
}
.cModal{
	position:fixed;
	height:100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 1005;
	width:100%;
	display:hidden;
}
.xOut{
	position:absolute;
	top:0;
	right:0;
	margin:20px;
	color:#666;
}
.contactPanel{
	margin: 170px auto 0px;
	position: relative;
	height: 350px;
	padding: 20px;
	max-width: 470px;
	background-color: white;
	border-radius: 10px;
	border:1px solid #B7914A;
	input{
		width: 100%;
		margin: 7px 0px;
		border: 1px solid #bbb;
	}
	textarea{
		width: 100%;
		border: 1px solid #bbb;
		margin: 7px 0px;
	}
}
.cccontact{
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}

.navbar {
	/*
	position: relative !important;
	*/
	height: 70px;
	border-bottom:1px solid #B7914A !important;
	.uh{
		position: absolute;

		.bName{
			width: 200px;
		}
		&:hover{
			text-decoration:none;
		}
		div{
			display: inline-block;
			brand{
				font-size: 22px;
				font-weight: 500;
				color:#333;
			}	
		}
		img{
			display: inline-block;
			width: 90px;
		}
	}
	.navbar-right{
		margin-top: 25px;
		margin-right: 3px;
		font-size: 12px;
		font-weight: 500;
		a{
			padding: 5px 10px 5px;
		}
	}
	.active a{
			background-color: #EFD5A3 !important;
			color:#222;
	}
}
.row{
	&.rowWell{
		background-color: #efefef;
	}
	.cWell{
		background-color:#f1f1f1;
		padding: 8px;
		&.SMI{
			margin-top: 20px;
			padding: 10px 45px;
			.row{

				img{
					display: block;
					margin: 0 auto;
					padding: 7px 0px;
					width: 37px;
				}
			}	
		}
	}
	.iContent{
		width: 195px;
		margin: 0 auto;
	}
	.bImage	{
		height: 300px;
	    background-size: 100%;
		background-repeat: no-repeat;
	    background-position: center;	
	    position: relative;
	}
}
/**/
.runoff{
	
	position: relative;
	height: 490px;
	z-index: 100;
}
.hContainer{
	height: 630px;
	.hImage{
		margin: 0 auto; 
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;	
		position: relative;
		border-radius: 1000px;
		border: 14px solid #efefef;
		&.ih1{
			height: 490px;
			width: 490px;
			margin: 0 auto;
			overflow: hidden;
			display: block;
		}
	}
}
.rowSMI{
	width: 300px;
	float:right;
}
.SMI{
	width: 40px;
}
.copyR{
	color:#bbb;
	float:right;
	margin-top: 140px;
	&.hidden-xs{
		position: absolute;
		bottom: 70px;
		right: 45px;
	}
	p{
		text-align: right;
		.FF{
			position: fixed;
			bottom: 28px;
			right: 25px;
			z-index: 1100;
			&.FFF{
				opacity: 0.77;
			}
			&.FF2{
				right:160px;
			}
			&.FF4{
				right:200px;
			}
			&.FF5{
				right:240px;
			}
			&.FF6{
				right:280px;
			}
			&.FF3{
				padding: 5px 30px;
				right: 50%;
				margin-right: -70px;
			}
		}
	}
}
.pull-right{
	position: relative;
	.copyR{
		margin-top: -29px;
		position: relative;
		p{
			position: relative;
		}
	}
}
.sAbout{
	text-align: center;
	margin-bottom: 40px;
	color: #333;
	.in{
		.cImage{
			display: inline-block;
			text-align: center;
			width: 160px !important;
			height: 160px;
		    background-size: cover;
		    border-radius: 500px;
		    border: 5px solid $pC;
		}
		.iContent{
			
		}
	}
}
$hack: 40px;
.rowWell{
	background-repeat: no-repeat;
    background-position: center;	
}
.wImage{
	width: 100%;
	height: 100%;
	position: absolute;
}
.cImage{
	background-repeat: no-repeat;
	background-position: center;	
	width: 100%;
	height: 230px;
}
.office{
	box-shadow: 3px 3px 3px #999;
	margin-top: -200px;
	margin-bottom: 150px;
	width: 100%;
}
.oHead{
	padding: 0px 20px 5px;
	margin: 0px 0px 0px;
	border-bottom: 2px solid #333;
}
.cFeatured{
	box-shadow: 2px 3px 4px 2px #666;
	.text{
		padding: 20px 0px;
	}
}
.baBottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-left:10px;
	background-color: rgba(255,255,255,0.6);	
}

.fancy{
	z-index: 40;
	height: 213px;
	margin-top: 0px;
}
.bDrops{
	background-image: url('/assets/images/kArt2a.png');
    background-size: 45PX;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 20px;
    margin-top: -20px;
    z-index: 1;
}
.beaut{
	margin-top: 30px;
	margin-left: 20px;
	height: 200px;
	max-width: 380px;
	background-image: url('/assets/images/kArt2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.row{
	&.caroRow{
		background-color:#999;
		padding: 20px 0px;
		margin-right: -33px !important;
		margin-left: -30px !important;
	}
	&.mbRow{
		margin-bottom: 0px;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.sBanner{
		position: absolute;
		box-shadow: 2px 2px 2px 2px #666;
		margin: 20px;
		bottom: 0;
		left: 0;
		padding:15px 20px;
		background-color: rgba(255,255,255,0.80);
	}
}
/* SLICK */
.slick-next{
	right:10px;
}
.slick-prev{
	left:10px;
	z-index: 50;
}
.slick-prev:before, .slick-next:before { 
    color:#111 !important;
}

    .cW{
        position: relative;
        width: 90% !important;
        margin: 65px auto 60px;  
       	.slider-for{ 
	        width: 100%;
	    }
	    .main{
	        height:  76vh;
	        width: 100%;
	        margin:0px 00px 0px 0px!important;
	        background-size: contain;
	        background-clip:border-box;
	        background-repeat: no-repeat;
	        background-position: center bottom;
	        img{
	        	opacity: 0.95;
	    	}	
	        .banner{
	        	width: 100%;
	        	height:140px;
				vertical-align: baseline;
	        	background-color: rgba(255,255,255,0.37);
	       		padding: 100%; 
	       		.bAbs{
	       			position: absolute;
	       			top:45%;
	       			right: 10%;
	       			left: 10%;
	       			color: #111;
	       			text-align: center;
	       			&.b2{
	       				top:42%;
	       			}
	       			&.bB{
	       				top:70%;
	       			}
	       			&.bB2{
	       				top:66%;
	       			}
	       			&.bT{
	       				top: 10%;
	       			}
	       		}
	        }
	        .slick-dots{
	        	margin-bottom: -50px;
	        }
	    }

    }
    .tile{
      display: inline-block;
      width: 100px;
      height: 66px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }    .slick-arrow:after{
      color: black;
      background-color:black;
    }
/* SLIDESHOW MAGIC */
	.sWrapper{
		margin: 0 auto;
		height: 100%;

        img{
        	left: -25%;

        	position: absolute;
        	overflow: hidden;
        	height: 100%;
        }
	}

/* END OF SLICK */

@media(max-width: 535px){

.contactPanel{
	margin: 100px auto 0px;
	height: 360px;
	max-width: 300px;
	background-color: white;
}
	.sAbout{
		text-align: center;
		margin-bottom: 40px;
		color: #333;
		height: 685px;
		width: 100%;
		position: relative;
		.in{
			.cImage{
				display: inline-block;
				text-align: center;
				position: absolute;
				right:10px;
				top: 325px;
				z-index: 1001;
				width: 160px !important;
				height: 160px;
			    background-size: cover;
			    border-radius: 500px;
			    border: 5px solid #efefef;
			}
			.f2{
				position: absolute;
				margin: 0 auto;
				display: block;
				overflow: hidden;
			}

			.pDown{
				margin-top: 530px;
			}
		}
	}
}

/* BOOTSTRAP XS SIZE */
@media (max-width: 767px){
	.aux{
		&.aux3{
			padding: 2px 10px;
		}
		&.aux5{
			width: 200px !important;
			margin-left: -50px;
			margin-top: 20px;
		}
	}
	.cpiss{

		width: 172px;
		li{	
			margin-left: -10px;
			width: 171px;
			h5{
				width: 170px;
				margin-right:0px;
				margin-left: 0px;

			}
		}
	}
	.cW{
		.main{
    .banner{
    	width: 100%;
    	height:140px;
		vertical-align: baseline;
    	background-color: rgba(255,255,255,0.37);
   		padding: 100%; 
   		.bAbs{
   			position: absolute;
   			top:29%;
   			right: 10%;
   			left: 10%;
   			color: #111;
   			text-align: center;
   			&.b2{
   				top:23%;
   			}
   			&.bB{
   				top:35%;
   			}
   			&.bB2{
   				top:30%;
   			}
   			&.bT{
   				top: 24%;
   			}
   			&.b4{
   				top:5%;
   			}
   		}
   	}
   }
   }
	.navbar-collapse{
		border:none;
	}
	.navbar {
		button{
			margin-top: 10px;
			padding-top: 0px;
			span{
				&.uhM{
					color:#666;
					line-height: 27px;
					vertical-align: text-top;
				}
				font-weight: 500;
				text-align: center;
				margin:0 auto;
			}
		}
		height: 70px;
		.uh{
			
			div{
				display: inline-block;
				brand{
					font-size: 22px;
					font-weight: 500;
					color:#333;
				}	
			}
			img{
				display: inline-block;
				width: 80px;
				margin-left: 15px;
			}
		}
		.navbar-right{
			margin: 30px 6px;
			border: 1px solid #ccc;
			.active a{
					/* background-color: #F8F1E3 !important; */
					background: none;
					background-color: rgba(255, 255, 255, 0.52);
					color:#222;
			}
		}
	}

	.wwat{
		background-color: #fefefe;
	}
	/* BOOTSTRAP XS SIZE (AFTER NAV)*/
	
	.copyR{
		float:right;
		&.visable-xs{
			float: none;
			p{
				margin: 0 auto;
				text-align: center;
			}	
		}
	}
	.hContainer{
		height: 600px;
		margin-bottom: 130px;
		.hImage{
			margin: 0 auto; 
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;	
			position: relative;
			border-radius: 1000px;
			&.ih1{
				height: 490px;
				width: 490px;
				overflow: hidden;
				position: absolute;
				display: block;
			}
		}
	}
	.wrapper{
		position: relative;
		margin: 0 auto;
		width:490px;
		height: 490px;
		left:50%;
		margin-left: -245px;
	}
	.zT{
		margin-top: 360px;
	}
}
@media (max-width: 400px){
	.beaut{
		width: 100%;
		padding-right: 15px;
	}
	.cW{
		width: 100%;
	}
}
@media (min-width: 967px){
	.navbar-right{
		margin-right:5%;
	}
	.lPadding{
		padding-left: 4%;
	}
}
/*
@media(max-width: 400px){
	.cW{
		margin-top: 0px;
					height: 600px;

		.main{
			.banner{
				margin-top: 360px;
				h3{
					font-size: 20px;
				}
			}
		}
	}
}
*/
@media(max-width: 619px){
	.copyR{
		margin-top: 40px;
	}
}
@media(max-width: 500px){
	float:right;
}
@media(min-width: 992px){
	/*
	.cW{
		margin-top: 50px;
		height: 570px;

		.main{
			.banner{
				margin-top: 375px;
				h3{
				}
			}
		}
	}
	*/
	.cW{
		width: 70%;
	}
	.bImage{
		height:450px !important;
	}
	.bAbs{
		margin-top: -70px !important;
	}
	.lPadding{
		padding-left: 0%;
	}
	.pDown{
		&.fix{
			margin-bottom: 270px;
		}
	}
	.sWrapper{
		width: 100%;
        img{
        	overflow: hidden;
        	min-width: 100%;
        	display: inline-block;
        	text-align: center;
        	position: relative !important;
        	left: 00;
        	right: 00;
        }
	}
}
/* BOOTSTRAP MD SIZE */
@media(min-width: 1200px){
	.lPadding{
		padding-left: 0%;
	}
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
